body {
	margin: 0;
	padding: 0;
	width: 780px;
	height: 700px;
	background: black url('/assets/images/metal_background_small.png') no-repeat;
	font-family: Verdana, Arial, sans-serif;
	font-size: 17px;
	color: white;
}

main {
	height: 100%;
}

section {
	margin: 15px;
	border-radius: 27px;
	background-image: -webkit-linear-gradient(top, #6e6e6f, #181818);
	background-image: -moz-linear-gradient(top, #6e6e6f, #181818);
	background-image: linear-gradient(to bottom, #6e6e6f, #181818);
	overflow: auto;
}

aside + section {
	width: 470px;
}

aside {
	float: right;
	width: 250px;
	text-align: center;
	background: rgba(0,0,0,0.3);
	border-radius: 25px;
}

section, aside {
	height: 670px;
	background-clip: padding-box;
	border: solid 1px transparent;
	padding: 0 10px;
}

.tabs section, .tabs aside {
	height: 645px;
}

.editmode section, .editmode aside {
	height: 580px;
}

.property:not(:empty):before {
	content: attr(title);
	display: table;
	margin: auto;
	color: #7eadb5;
	border-bottom: 1px #666 dotted;
	font-variant: normal;
}

.property {
	font-variant:small-caps;
	text-align:center;
}

a:link { color: #26b3f7 }
a:visited { color: #da6dc8 }
a:hover { color: #ffffff }

/* Edit Mode */

#editbuttons {
	float: left;
	clear: both;
	margin: 5px 0 0 25px;
}

.portrait {
	max-width: 200px;
	max-height: 200px;
}

.ui-widget{ font-family: inherit; font-size: inherit; }
.ui-widget-content { background: none; border: none; }
.ui-button { font-size: 0.95em; }

.ui-dialog-titlebar-close { display:none; }

/* Tabs */
.ui-tabs { border: none !important; }
.ui-tabs, .ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-panel { padding: 0; }
nav { font-variant: small-caps; }
nav a { display: block; width: 100%; height: 100% }
.ui-tabs .ui-tabs-nav .ui-tabs-anchor { float:none; padding: 0;}

.ui-state-default, .ui-state-active, .ui-button, .ui-button:active {
	padding-top:2px;
	text-align: center;
	width: 213px;
	height: 25px;
	border-style: none !important;
	background: transparent url('/assets/images/tab_inactive.gif') no-repeat !important;
}

.ui-state-active, .ui-state-default:hover, .ui-button:hover {
	background: transparent url('/assets/images/tab_active.gif') no-repeat !important;
}

.ui-state-default a:link, .ui-button { color: #666 !important; }
.ui-state-active a:link, .ui-state-default:hover a:link, .ui-button:hover { color: white !important; }

:focus { outline: none; }

/* Form Styles */

input[type="password"], dialog input[type="text"] {
    background: white;
    border: none;
    color: #000;
    padding-left:10px;
}

.ui-dialog { background-color:#333 !important; }
.ui-dialog-content { font-size: 0.8em; }
.ui-widget-content, .ui-widget.ui-widget-content { border:1px solid #999; }

section input { width: calc(100% - 10px); }
aside input { width:65%; }

/* SCE Editor */

.sceditor-container iframe, .sceditor-container textarea {
	width: 460px !important;
	height:420px !important;
}

div.sceditor-toolbar {
	border-bottom:none;
	background:transparent;
}

.sceditor-container, .sceditor-container iframe, .sceditor-container textarea {
	color:white !important;
	background-color:transparent !important;
}

/* Code and Blockquote */

blockquote {
	background: #333;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	color:#fff;
}

blockquote::before, blockquote::after {
	color: #ccc;
	font-size: 2em;
	line-height: 0.1em;
	vertical-align: 0.4em;
	white-space:pre;
}

blockquote::before {
	content: "\201C";
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote::after {
	content: "\A \201D";
	margin-left: 0.25em;
	vertical-align: 0.4em;
	float:right;
	white-space:pre;
}

blockquote p { display: inline; }

code {
	font-family: 'Courier New', Courier, monospace;
	padding:10px;
	background-color: #000000;
	color: limegreen;
	white-space: pre-wrap;
	word-wrap: break-word;
}

/* Styling for Dual Textboxes on OOC Notes */

#tab-ooc_notes .sceditor-container iframe, #tab-ooc_notes .sceditor-container textarea {
	width: 720px !important;
	height: 130px !important;
}
